---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Trusted by companies like</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/mfm.jpg"
          width="100"
          height="60"
          alt="spotify"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/marigold.jpg"
          width="100"
          height="60"
          alt="slack"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/fao.jpg"
          width="100"
          height="60"
          alt="paypal"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/jo-jo.jpg"
          width="100"
          height="60"
          alt="spotify"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/upg.jpg"
          width="100"
          height="60"
          alt="slack"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/ready.jpg"
          width="100"
          height="60"
          alt="paypal"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/pezzo.jpg"
          width="100"
          height="60"
          alt="spotify"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/bravo.png"
          width="100"
          height="60"
          alt="slack"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/now-how.jpg"
          width="100"
          height="60"
          alt="paypal"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
      <div class="rounded-xl bg-body border border-box-border group">
        <img
          src="https://evolxit.com/front/img/clients/gen.png"
          width="100"
          height="60"
          alt="spotify"
          class="h-20 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
        />
      </div>
    </div>
  </Container>
</section>
